@model RapidApi.WebUI.Models.ErrorViewModel

<h2>Hata</h2>

@if (Model != null)
{
    if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>
            <strong>Hata Mesajı:</strong> @Model.Message
        </p>
    }

    @if (!string.IsNullOrEmpty(Model.ExceptionDetails))
    {
        <p>
            <strong>Hata Detayları:</strong>
            <pre>@Model.ExceptionDetails</pre>
        </p>
    }
}